<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script type="text/javascript">
        function showAlert() {
            var mensajeDiv = document.getElementById('mensaje');
            mensajeDiv.style.top = '20%';
            setTimeout(function() {
                mensajeDiv.style.top = '-150%';
            }, 5000);
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <form action="#" th:action="@{/}" th:object="${personForm}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" class="form-control" th:field="*{name}" />
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" id="age" class="form-control" th:field="*{age}" />
            <div class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" class="form-control" th:field="*{email}" />
            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
        <input type="hidden" id="ipAddress" th:field="*{ipAddress}" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Message div for email already exists -->
<div id="mensaje" class="rounded" style="z-index: 4; position: absolute; transition: top 0.5s; top: -150%; right: 0; background-color: #BDECB6; color: black; padding: 10px;" th:if="${emailExists}">
    <h2>El correo electrónico ya está registrado.</h2>
</div>

<!-- Check if emailExists attribute is present and show alert -->
<div th:if="${emailExists}">
    <script type="text/javascript">
        showAlert();
    </script>
</div>

<script th:src="~{fragments::javascript}"></script>
<script>
    fetch('https://api.ipify.org?format=json')
        .then(response => response.json())
        .then(data => {
            const ipAddressField = document.getElementById('ipAddress');
            if (ipAddressField) {
                ipAddressField.value = data.ip;
            }
        });
</script>
</body>
</html>